html
{
  background-color: rgba(54, 69, 90, 1); 
  background-size: contain;
  background-attachment: fixed;
}

::-webkit-scrollbar {
  overflow-y: hidden;
  overflow-x: hidden;
  width: 0px;
  background: transparent;
}

body
{
    margin: 0;
    z-index: 0;
    font-family: Calibri ,'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#title
{
  position: relative;
  background-color: rgb(242, 70, 73);
  width: 100vw;
  height: min-content;
  padding: 0;
  margin-top: -60px;
  z-index: 1;
}

#name
{
  color: white;
  letter-spacing: 7px;
  padding-left: 3%;
  padding-top: 5%;
  font-size: 80px;
  font-weight: 400;
}

#application
{
  margin-top: -40px;
  padding-bottom: 5%;
  padding-left: 3%;
  color: rgba(54, 69, 90, 1);
  font-size: 30px;
  font-weight: 400;
}

#white
{
  z-index: 0;
  position: fixed;
  margin-left: 99vw;
  content: "";
  background-color: white;
  width: 1vw;
  height: 5000px;
  margin-top: -2000px;
}

#wrapper
{
  padding-top: 10vh;
  padding-left: 20vw;
}

#intro, #projects, #footer
{
    color: rgb(225, 225, 255);
    height: max-content;
    font-size: 2.2vmin;
    margin-bottom: 50px;
}

#projects
{
  margin-bottom: 20px;
  text-align: center;
}

.line
{
  width: 90%;
  margin-left: 5%;
  margin-bottom: 30px;

  height: 3px;
  background-color: rgb(255, 255, 255);
}

video::-webkit-media-controls {
  display:none !important;
}


.title, .year {
  position: absolute;
  width: 100%;
  left: 0;
  top: 25%;
  transition: top .5s ease;
  font-weight: 700;
  font-size: 3vmin;
  text-align: center;
  text-transform: uppercase;
  color: white;
  z-index: 1;

  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: rgb(255, 255, 255)
}

.info
{
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  height: max-content;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 0px 17px 3px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 17px 3px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 17px 3px rgba(0,0,0,0.15);
  font-size: 14px;
  top: 40%;
  position:absolute;
  color: white;
  transition: opacity .35s ease;
  opacity: 0;
}

.arrow
{
  margin-top: -30px;
  padding-bottom: 40vh;
  text-align: center;
  margin-right: 50px;
}

.arrow img
{
  width: 50px;
  height: 50px;
}

/*3 per row*/
.container
    {
      background-color: black;
      border: 0.5px solid rgba(54, 69, 90, 1); 
      display: inline-block;
      position:relative;
      width: 32.9vw;
      height: 18.5vw;
      margin: -3px;
    }

    .year
    {
      opacity: 0;
      top: 50%;
      font-size: 2vmin;
    }

    .button{
      position: absolute;
      width: 50%;
      top: 30%;
      text-align: center;
      opacity: 0;
      transition: opacity .35s ease;
      z-index: 0;
      pointer-events: none;
    }

  .button a{
    padding: 6px 30px;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
    pointer-events: all;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 0.7vw;
  } 

/*2 per row*/
@media (max-aspect-ratio: 6/7)
{
.container {
  width: 49vw;
  height: 27.9vw;
}

.button a{
  font-size: 1vw;
  }

.year, .title
{
  font-size: 2vw;
}

.year
{
  font-size: 1.6vw;
}

#footer
{
  margin-left: 20%;
  margin-right: 10%;
}

#wrapper
{
  padding-left: 10%;
  padding-right: 10%;
}

}

/*1 per row*/
@media (max-aspect-ratio: 6/9)
{

  .info
  {
    font-size: 25px;
  }
  .button a{
    font-size: 3vw;
    }

  .container {
    width: 100vw;
    height: 56.25vw;
    margin-top: -7px;
  }
    
  .year, .title
  {
    font-size: 4.5vw;
  }

  #footer
  {
    margin-left: 10%;
    margin-right: 10%;
  }

  #wrapper
  {
    font-size: 1.5vw;
    padding-left: 10%;
    padding-right: 15%;
  }
}

@media (max-width: 1100px)
{
  #intro
  {
    font-size: 1.7vmin;
  }
}

/*2 per row*/
@media (max-width: 800px)
{
.container {
  width: 49vw;
  height: 27.9vw;
}

.button a{
  font-size: 1vw;
  }

.year, .title
{
  font-size: 2vw;
}
}

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.35s ease-out;
  }
  
  .container:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, 0.2);
  }

  img
  {
      position: absolute;
      width:  100%;
      height: 100%;
  }
  
  .icon img
  {
    position: relative;
    z-index: 1;
    width: 60px;
    height: 60px;
    float: right;
    margin: 0;
    margin-top: 5px;
    margin-right: 5px;
    padding: 0;
    opacity: 0;
    transition: opacity .35s ease;
  }

  .container:hover .icon img, .container:hover .button, .container:hover .info
  {
    opacity: 1;
  }

  .preview, .onhoverpreview {
    position: absolute;
    width:  100%;
    height: 100%;
  }

  .onhoverpreview
  {
    opacity: 1;
    transition: opacity .35s ease;
  }

  .container:hover .onhoverpreview
  {
    opacity: 0;
  }
  
  .container:hover .title {
    top: 5%;
  }

  .container:hover .year
  {
    top: 75%;
    opacity: 1;
  }

  #footer
  {
    margin-left: 20%;
    margin-top: 50px;
    margin-bottom: 75px;
  }

  .footeritem
  {
    margin-left: 5%;
    display: inline-block;
    width: 40%;
  }

  ul li
  {
    list-style: square;
  }
