html
{
  background-color: black;
  background-image: url("Thumb/darkbackground.png");
  background-size: cover;
  background-attachment: fixed;
}

::-webkit-scrollbar {
  overflow-y: hidden;
  overflow-x: hidden;
  width: 0px;
  background: transparent;
}

/*#region FadeAnimation*/
#tofade
{
    -webkit-animation: fadein 8s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 8s; /* Firefox < 16 */
        -ms-animation: fadein 8s; /* Internet Explorer */
         -o-animation: fadein 8s; /* Opera < 12.1 */
            animation: fadein 8s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/*#endregion FadeAnimation*/

body
{
    background: url("Thumb/invader.png");  
    background-size: 200px;
    -o-background-size: 200px;
    -moz-background-size: 200px;
    background-repeat: repeat;

    animation: moveIt 5s linear infinite;
    
    z-index: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
}

#wrapper
{
  padding-top: 25vh;
  padding-bottom: 50vh;
}

@keyframes moveIt {
  from {background-position: 0px 200px;}
  to {background-position: 200px 0px;}
}


#intro, #title, #projects, #footer
{
    color: rgb(225, 225, 255);
    height: max-content;
    font-size: 2vmin;
    margin-bottom: 50px;
    margin-left: 25vw;
    margin-right: 25vw;
}

#projects
{
  margin-bottom: 20px;
  text-align: center;
}

.line
{
  width: 90%;
  margin-left: 5%;
  margin-bottom: 30px;

  height: 3px;
  background-color: rgba(255, 255, 255, 0.363);
}

video::-webkit-media-controls {
  display:none !important;
}


.title, .year {
  position: absolute;
  width: 100%;
  left: 0;
  top: 25%;
  transition: top .5s ease;
  font-weight: 700;
  font-size: 3vmin;
  text-align: center;
  text-transform: uppercase;
  color: white;
  z-index: 1;

  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: rgba(0, 0, 0, 1)
}


.info
{
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  height: max-content;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 0px 17px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 17px 3px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 17px 3px rgba(0,0,0,0.75);
  font-size: 15px;
  top: 40%;
  position:absolute;
  color: white;
  transition: opacity .35s ease;
  opacity: 0;
}

/*3 per row*/
.container
    {
      background-color: black;
      border: 0.1vw solid rgb(0, 0, 0); 
      display: inline-block;
      position:relative;
      width: 32.9vw;
      height: 18.5vw;
      margin: -3px;
    }

    .year
    {
      opacity: 0;
      top: 50%;
      font-size: 2vmin;
    }

    .button{
      position: absolute;
      width: 50%;
      top: 30%;
      text-align: center;
      opacity: 0;
      transition: opacity .35s ease;
      z-index: 0;
      pointer-events: none;
    }

  .button a{
    padding: 6px 30px;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
    pointer-events: all;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 0.7vw;
  } 

/*2 per row*/
@media (max-aspect-ratio: 6/7)
{
.container {
  width: 49vw;
  height: 27.9vw;
}

.button a{
  font-size: 1vw;
  }

.year, .title
{
  font-size: 2vw;
}

.year
{
  font-size: 1.6vw;
}

#footer
{
  margin-left: 20%;
  margin-right: 10%;
}

}

/*1 per row*/
@media (max-aspect-ratio: 6/9)
{

  .info
  {
    font-size: 25px;
  }
  .button a{
    font-size: 3vw;
    }

  .container {
    width: 100vw;
    height: 56.25vw;
  }

  .year, .title
  {
    font-size: 4.5vw;
  }

  #footer
  {
    margin-left: 20%;
    margin-right: 10%;
  }

  #intro, #title, #projects
  {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.5vw;
  }
}

/*2 per row*/
@media (max-width: 800px)
{
.container {
  width: 49vw;
  height: 27.9vw;
}

.button a{
  font-size: 1vw;
  }

.year, .title
{
  font-size: 2vw;
}
}

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.35s ease-out;
  }
  
  .container:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, 0.2);
  }

  img
  {
      position: absolute;
      width:  100%;
      height: 100%;
  }
  
  .icon img
  {
    position: relative;
    z-index: 1;
    width: 60px;
    height: 60px;
    float: right;
    margin: 0;
    margin-top: 5px;
    margin-right: 5px;
    padding: 0;
    opacity: 0;
    transition: opacity .35s ease;
  }

  .container:hover .icon img, .container:hover .button, .container:hover .info
  {
    opacity: 1;
  }

  .preview, .onhoverpreview {
    position: absolute;
    width:  100%;
    height: 100%;
  }

  .onhoverpreview
  {
    opacity: 1;
    transition: opacity .35s ease;
  }

  .container:hover .onhoverpreview
  {
    opacity: 0;
  }
  
  .container:hover .title {
    top: 5%;
  }

  .container:hover .year
  {
    top: 75%;
    opacity: 1;
  }

  #footer
  {
    margin-top: 50px;
    margin-bottom: 75px;
  }

  .footeritem
  {
    margin-left: 5%;
    display: inline-block;
    width: 40%;
  }

  ul li
  {
    list-style: square;
  }
